<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @email %></h1><br>
    Your password: <%= @password %>
    <a href="https://glacial-badlands-83614.herokuapp.com/users/sign_in">Link to sign in</a>
    <p>GeegHub lesson 11 ROR </p>
    <p>
      Sample mail sent using smtp.
    </p>
  </body>
</html>